.body{
  background-color: #f4dabf !important;
}

.navbar{  
  background-color: #4C2B08 !important;
}
.footer{
  background-color: #4C2B08 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.footer a{
  color: white;
  margin-left: 20px;
}
